* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(255, 254, 190);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    background-color: rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    border-radius: 10px;
    border: 2px black solid;
    align-items: center;
    padding: 20px;
    gap: 50px;
}

.display{
    background-color: white;
    display: flex;
    border-radius: 2px;
    height: 50px;
    width: 90%;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    font-size: 24px;
}

.button {
    height: 40px;
    width: 40px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}